@font-face {
    font-family: 'Contemporary';
    font-style: normal;
    font-weight: 400;
    src: local('Contemporary'), local('Contemporary-Regular'), url('/typeface/Contemporary-Regular.ttf');
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes moveInFromTop {
    from {
        top: -48px;
    }
    
    to {
        top: 0px;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

:root {
    --bg-color: #282828;
    --fg-color: white;
    
    --bg-hover: #3c3c3c;
    --bg-active: #1b1b1b;
    
    --button-color: rgb(0, 0, 200);
    --button-fg-color: white;
    
    --link-color: rgb(0, 200, 255);
    --link-active-color: rgb(255, 100, 100);
}

html.light {
    --bg-color: #ebebeb;
    --fg-color: black;
    
    --bg-hover: white;
    --bg-active: #9d9d9d;
    
    --link-color: rgb(0, 100, 255);
    --link-active-color: red;
}

html.light .tint {
    filter: brightness(0%);
}

* {
    transition: 0.25s background-color, 0.25s color;
}

#smoothState {
    animation: fadeIn 0.25s linear;
    background-color: var(--bg-color);
}

#smoothState.transitionOut {
    animation: fadeOut 0.25s linear;
    opacity: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    
    margin-left: 0px;
    margin-top: 48px;
    margin-right: 0px;
    
    font-family: Contemporary, sans-serif;
}

body .smoothstateLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

h1, h2, h3 {
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 10px;
}

div.mainHeader {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 47px;
    
    border-bottom: 1px solid var(--fg-color);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--bg-color);
    color: var(--fg-color);
    
    animation: moveInFromTop 0.25s ease-out;
    
    z-index: 10000;
}

div.mainHeader * {
    padding-left: 8px;
    padding-right: 8px;
}

div.mainHeader hr {
    padding-left: 0px;
    padding-right: 0px;
}

div.mainHeader .smileIcon {
    float: left;
    height: 48px;
}

div.mainHeader .headerItem, div.mainHeader .searchItem {
    display: block;
    padding-top: 14px;
    padding-bottom: 15px;
    cursor: pointer;
}

div.mainHeader .headerItem:hover, div.mainHeader .searchItem:hover {
    background-color: var(--bg-hover);
}

div.mainHeader .headerItem:active, div.mainHeader .searchItem:active {
    background-color: var(--bg-active);
}

div.mainHeader .headerItem p, div.mainHeader .searchItem:active {
    margin: 0px;
}

div.mainHeader .headerItem .title, div.mainHeader .searchItem .title {
    font-weight: bold;
}

div.mainHeader .searchItem div.excerpt * {
    display: inline;
    font-size: 12pt;
}

div.mainHeader .headerTitle {
    font-size: 20pt;
    padding-right: 100px;
}

div.headerProject {
    display: flex;
    align-items: center;
}

div.headerMenu {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    height: 0px;
    
    overflow-y: hidden;
    
    padding-left: 0px;
    padding-right: 0px;
    
    transition: 0.25s ease-out;
    
    display: flex;
    flex-direction: column;
    
    border-bottom: 1px solid var(--fg-color);
    
    background-color: var(--bg-color);
    color: var(--fg-color);
    
    z-index: 10000;
}

div.headerMenu.open {
    height: calc(100vh - 100%);
    overflow-y: auto;
}

div.headerMenu .headerItem img.appIcon {
    float: left;
    width: 38px;
}

a.headerItem, a.searchItem {
    text-decoration: none;
    color: var(--fg-color);
}

body.lightTheme {
    background-color: #ebebeb;
    color: black;
}

div.content {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--fg-color);
    padding-left: 100px;
    padding-right: 100px;
}

div.content * {
    margin-top: 4px;
    margin-bottom: 4px;
}

hr {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-left: none;
    border-right: none;
}

footer {
    border-top: 1px solid var(--fg-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:active {
    color: var(--link-active-color);
}

a.button {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--button-fg-color);
    padding: 6px;
    text-decoration: none;
}

a.button:hover {
    background-color: rgb(0, 0, 255);
}

a.button:active {
    background-color: rgb(0, 0, 100);
}

div.landing {
    color: white;
}

div.landing a.button, div.helpHeader a.button, div.carousel a.button {
    color: #DDDDDD;
    background-color: rgba(200, 200, 200, 0.2);
}

div.landing a.button:hover, div.helpHeader a.button:hover, div.carousel a.button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

div.landing a.button:active, div.helpHeader a.button:active, div.carousel a.button:active {
    background-color: rgba(150, 150, 150, 0.4);
}

img#projectsImageButton {
    display: none;
    content: url(/images/application-menu-dark.svg);
}

html.light img#projectsImageButton {
    content: url(/images/application-menu.svg);
}

img#searchImageButton {
    content: url(/images/search-dark.svg);
}

html.light img#searchImageButton {
    content: url(/images/search.svg);
}

div.searchContainer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

div.searchResults {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

input.searchBox {
    margin: 10px;
    font-family: Contemporary, sans-serif;
    font-size: 12pt;
    background-color: var(--bg-color);
    color: var(--fg-color);
    border: none;
    border-left: 1px solid var(--fg-color);
    border-bottom: 1px solid var(--fg-color);
    outline: none;
    flex-grow: 1;
}

div.loader {
    background-image: url("/images/loader.svg");
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: spin 1s linear infinite;
}

li {
    margin-top: 3px;
    margin-bottom: 3px;
}

li p {
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: 600px) {
    div.content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 450px) {
    div.mainHeader {
        justify-content: space-between;
    }
    
    div.mainHeader .headerTitle {
        padding-right: initial;
    }
    
    div.mainHeader .smileIcon {
        display: none;
    }

    div.headerRightPadding {
        display: none;
    }
    
    p#projectsButton {
        display: none;
    }
    
    img#projectsImageButton {
        display: block;
    }
}
