@font-face {
    font-family: 'Contemporary';
    font-style: normal;
    font-weight: 400;
    src: local('Contemporary'), local('Contemporary-Regular'), url('/typeface/Contemporary-Regular.ttf');
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes moveInFromTop {
    from {
        top: -48px;
    }
    
    to {
        top: 0px;
    }
}

#smoothState {
    animation: fadeIn 0.25s linear;
    background-color: #282828;
}

#smoothState.transitionOut {
    animation: fadeOut 0.25s linear;
    opacity: 0;
}

body {
    background-color: #282828;
    color: white;
    
    margin-left: 0px;
    margin-top: 48px;
    margin-right: 0px;
    
    font-family: Contemporary, sans-serif;
}

body .smoothstateLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    
    z-index: -1;
}

h1, h2, h3 {
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 10px;
}

div.mainHeader {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 47px;
    
    border-bottom: 1px solid white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #282828;
    color: white;
    
    animation: moveInFromTop 0.25s ease-out;
    
    z-index: 10000;
}

div.mainHeader * {
    padding-left: 8px;
    padding-right: 8px;
}

div.mainHeader hr {
    padding-left: 0px;
    padding-right: 0px;
}

div.mainHeader .smileIcon {
    float: left;
    height: 48px;
}

div.mainHeader .headerItem {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}

div.mainHeader .headerItem:hover {
    background-color: #3c3c3c;
}

div.mainHeader .headerItem:active {
    background-color: #1b1b1b;
}

div.mainHeader .headerItem p {
    margin: 0px;
}

div.mainHeader .headerItem .title {
    font-weight: bold;
}

div.mainHeader .headerTitle {
    font-size: 20pt;
    padding-right: 100px;
}

div.headerProject {
    display: flex;
    align-items: center;
}

div.headerMenu {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    height: 0px;
    
    overflow-y: hidden;
    
    padding-left: 0px;
    padding-right: 0px;
    
    transition: 0.25s ease-out;
    
    display: flex;
    flex-direction: column;
    
    border-bottom: 1px solid white;
    
    background-color: #282828;
    color: white;
    
    z-index: 10000;
}

div.headerMenu.open {
    height: calc(100vh - 100%);
    overflow-y: auto;
}

div.headerMenu .headerItem img.appIcon {
    float: left;
    width: 38px;
}

a.headerItem {
    text-decoration: none;
    color: white;
}

body.lightTheme {
    background-color: #ebebeb;
    color: black;
}

div.content {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid white;
    padding-left: 100px;
}

div.content * {
    margin-top: 4px;
    margin-bottom: 4px;
}

hr {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-left: none;
    border-right: none;
}

footer {
    border-top: 1px solid white;
}

a {
    text-decoration: none;
    color: rgb(0, 200, 255);
}

a.button {
    display: inline-block;
    background-color: rgb(0, 0, 200);
    color: white;
    padding: 6px;
    text-decoration: none;
}

a.button:hover {
    background-color: rgb(0, 0, 255);
}

a.button:active {
    background-color: rgb(0, 0, 100);
}

div.landing a.button, div.helpHeader a.button {
    color: #DDDDDD;
    background-color: rgba(200, 200, 200, 0.2);
}

div.landing a.button:hover, div.helpHeader a.button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

div.landing a.button:active, div.helpHeader a.button:active {
    background-color: rgba(150, 150, 150, 0.4);
}

@media (max-width: 600px) {
    div.content {
        padding-left: 10px;
    }
}

@media (max-width: 450px) {
    div.mainHeader {
        justify-content: space-between;
    }
    
    div.mainHeader .headerTitle {
        padding-right: initial;
    }
    
    div.mainHeader .smileIcon {
        display: none;
    }

    div.headerRightPadding {
        display: none;
    }
}
