<footer>
    <style>
        div.footerGroups {
            padding-left: 100px;
            padding-right: 100px;
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
        }
        
        div.footerGroup {
            padding-left: 10px;
            padding-right: 10px;
            width: 200px;
        }
        
        p.footerGroupTitle {
            font-size: 15pt;
        }
        
        a.footerGroupLink {
            display: block;
        }
        
        div.footerText {
            padding-left: 100px;
            padding-right: 100px;
            
            display: flex;
            flex-wrap: wrap;
            
            font-size: 8pt;
        }
        
        div.footerText p {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 0px;
        }
        
        div.footerText p:not(:first-child) {
            border-left: 1px solid var(--fg-color);
        }
        
        @media (max-width: 600px) {
            div.footerGroups {
                padding-left: 10px;
                padding-right: 10px;
            }
            
            div.footerText {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    </style>
    
    <div class="footerGroups">
        <div class="footerGroup">
            <p class="footerGroupTitle">Projects</p>
            <a class="footerGroupLink" href="/theshell/">theShell</a>
            <a class="footerGroupLink" href="/contemporary/">Contemporary</a>
            <a class="footerGroupLink" href="/thebeat/">theBeat</a>
            <a class="footerGroupLink" href="/theslate/">theSlate</a>
        </div>
        <div class="footerGroup">
            <p class="footerGroupTitle">Git Repositories</p>
            <a class="footerGroupLink" href="https://github.com/vicr123/theshell">theShell</a>
            <a class="footerGroupLink" href="https://github.com/vicr123/thebeat">theBeat</a>
            <a class="footerGroupLink" href="https://github.com/vicr123/theslate">theSlate</a>
            <a class="footerGroupLink" href="https://github.com/vicr123/thephoto">thePhoto</a>
            <a class="footerGroupLink" href="https://github.com/vicr123/contemporary-theme">Contemporary Widgets</a>
            <a class="footerGroupLink" href="https://github.com/vicr123/contemporary-icons">Contemporary Icons</a>
            <a class="footerGroupLink" href="https://github.com/vicr123/contemporary-cursors">Contemporary Cursors</a>
            <a class="footerGroupLink" href="https://github.com/vicr123/">More...</a>
        </div>
        <div class="footerGroup">
            <p class="footerGroupTitle">Utilities</p>
            <a class="footerGroupLink" href="https://bugs.vicr123.com/">Report a bug</a>
        </div>
        <div class="footerGroup">
            <p class="footerGroupTitle">Help</p>
            <a class="footerGroupLink" href="/theshell/help/">theShell</a>
        </div>
        <div class="footerGroup">
            <p class="footerGroupTitle">Connect</p>
            <a class="footerGroupLink" href="https://www.youtube.com/channel/UCCD3mx0y2KSbD0eFJ0WGOBg">YouTube</a>
            <a class="footerGroupLink" href="https://twitter.com/vicr12345">Twitter</a>
            <a class="footerGroupLink" href="https://discord.gg/mptGQDJ">theShell on Discord</a>
        </div>
    </div>
    <div class="footerText">
        <p>Copyright &copy; Victor Tran 2017.</p>
        <p>Landing button design by astro.</p>
        <p>Text available under <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA, v4.0 or later.</a></p>
        <p>We bake cookies in your browser to enhance your experience (specifically to save theme data).</p>
    </div>
</footer>
